.flex1 {
    display: flex;
    align-items: center;
    margin-top: 45px;
    margin-left: 200px;
  }
  .squareJ {
    width: 40px;
    height: 40px;
    background-color: black;
    margin: 20px;
    border-radius: 5px;
  }
  
  .textJ {
    /* width: fit-content; */
    color: white;
    text-align: center;
    padding: 8px;
    font-size: x-large;
  }
  .jasonstroff {
    font-size: 20px;
  }
  .fa-github {
    font-size: 25px;
    color: red;
    margin-left: 850px;
  }
  .fa-stack-overflow {
    font-size: 25px;
    color: red;
    margin: 10px;
  }
  .fa-linkedin-square {
    font-size: 25px;
    color: red;
    margin-left: 5px;
  }
  
  .flex2 {
    display: flex;
    margin-top: 45px;
    margin-left: 100px;
  }
  
  .img1 {
    width: 500px;
    height: 550px;
    margin-left: 120px;
    margin-top: 50px;
  }
  .texttotal {
    padding-top: 70px;
    padding-left: 80px;
  }
  .iam {
    padding-top: 50px;
    width: 300px;
    height: 150px;
    font-size: 40px;
  }
  .flex3{
      display: flex;
      align-items: center;
      padding-top: 100px;
  }
  .redtext {
      color: red;
      font-size: 35px;
  }
  
  .Bruh{
      padding-right: 50px;
  }
  
  
  .flex4{
      display: flex;
      align-items: center;
      padding-top: 100px;
  }
  .Lmao {
      padding-right: 50px;
  }